<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
    <div class="col-md-6 offset-md-3">
      
      <mat-card class="p20">
        <h1 class="text-center">Agregar nuevo usuario</h1>
      <form (ngSubmit)="formSubmit()">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Nombre de usuario</mat-label>
          <input required [(ngModel)]="user.username" name="username" matInput placeholder="Digite su nombre de usuario">
          <mat-hint>El nombre de usuario debe ser único</mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input required [(ngModel)]="user.password" name="password" type="password" matInput placeholder="Digite su contraseña">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input [(ngModel)]="user.name" name="name" matInput placeholder="Digite su nombre" required>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Apellido</mat-label>
          <input [(ngModel)]="user.lastName" name="lastName" matInput placeholder="Digite su apellido" required>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input [(ngModel)]="user.email" name="email" type="email" matInput placeholder="Digite su email" required>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Telefono</mat-label>
          <input [(ngModel)]="user.phone" name="phone" type="tel" matInput placeholder="Digite su telefono" required>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Roles</mat-label>
          <mat-select name="roles" [(ngModel)]="user.roles[0].role">
            <mat-option value="USER">USER</mat-option>
            <mat-option value="ADMIN">ADMIN</mat-option>
            <mat-option value="INVITED">INVITED</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="container text-center">
          <button mat-raised-button color="primary">Registrar</button>
        </div>
      </form>
      </mat-card>
      
      <br><br><br>
    </div>
  </div>
  </div>
</div>