<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card class="p20" *ngIf="exam">
          <mat-card-header>
            <mat-card-title>
              Lea las instrucciones de esta pagina para realizar esta prueba
            </mat-card-title>
            <mat-card-subtitle>
              Un paso más para ir
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="mt20">
            <h2 class="mb10">{{exam.title}}</h2>
            <p>{{exam.description}}</p>
            <mat-divider></mat-divider>
            <br>
          <h2>Instrucciones</h2>
          <ul>
            <li>Este cuestionario es confines practicos.</li>
            <li>Tienes un tiempo estimado para completar el examen de <b>{{exam.numberOfQuestions * 2}}</b> minutos (2 minutos por pregunta)</li>
            <li>El examen tiene no tiene una cantidad de intentos limitados para realizarlo.</li>
            <li>Cada pregunta tiene un valor de <b>{{exam.points/exam.numberOfQuestions}}</b> puntos.</li>
          </ul>
          <mat-divider></mat-divider>
          <br>
          <h2>Cantidad de intentos:</h2>
          <ul>
            <li>Presione el botón <b>Empezar</b> para iniciar el examen</li>
            <li>El tiempo comenzará en el momento que haga click en el botón de inicio</li>
            <li>No puede reanudar este cuestionario si se interrumpe por algún motivo</li>
            <li>Desplácese hacia abajo para pasar a la siguiente pregunta</li>
            <li>Haga click en el botón <b>Enviar</b> al finalizar el cuestionario</li>
            <li>El informe de la prueba se genera automáticamente en forma de copia PDF</li>
          </ul>
          </mat-card-content>
          <mat-card-actions class="flex-center">
            <button mat-flat-button color="primary" (click)="startExam()">Comenzar</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
